header
{
  text-decoration: none;
  color: lightblue;
  background: rgb(74,154,224);
  background: linear-gradient(180deg, rgba(74,154,224,1) 0%, rgba(45,131,226,1) 60%, rgba(12,66,150,1) 100%);
  font-style: italic;
  padding: 10px;
  padding-left: 20px;
  grid-column: span 12;
  font-weight: normal;
  font-family: Helvetica;
}
