header {
  color: #ffffff;
  background-color: red;
}

a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: yellow;
}

#BLUE {
  color: blue;
  background-color: lightblue;
}

#two00classes {
color: #de2323;
background-color: lightgreen;
}

#three00classes {
  color: lightblue;
  background-color: darkblue;
}

#angy {
  color: white;
  background-color: red;
}

#smol {
  color: #c4c4c4;
  text-transform: lowercase;
  font-size: 67%;
}

#beeee {
  color: black;
  background-color: yellow;
}

#rainb {
  color: black;
  background: linear-gradient(to right, red , orange , yellow, green, cyan, blue, violet, purple);
}

#rainblue {
  color: #3cfaf7;
  background: linear-gradient(to right, red , orange , yellow, green, cyan, blue, violet, purple);
}

#tree {
  color: #3fe04f;
  background-color: #3b3321;
}

.purpleee {
  color: violet;
  background-color: #ffebfa;
}

.NEON {
  color: darkblue;
  background-color: #5eff00;
}

.Pretty {
  color: #98d7eb;
  background-color: #d8a7e8;
}

.ytterP {
  color: #d8a7e8;
  background-color: #98d7eb;
}

.pinkish {
    color: #f56ef5;
    background-color: #000000
}

.AlyxEnergy {
  color: #0400ff;
  background-color: #ff9d00;
}

.grene {
  color: #2e8f29;
  background-color: #f0faf0;
}

.notquitewhiteorblack {
  color: #8d9699;
  background-color: #f5f5f5;
}

.GAMINGPOG {
  color: #3cfaf7;
  background-color: #ff3bc7;
}

.artsy {
  color: #f56ef5;
    background:radial-gradient(ellipse at 50%, #FFFFFF 4%, #FF7300 14%, #FFEB3B 24%, #8AFF70 34%, #0AF3DE 44%, #03A9F4 54%, #3F51B5 64%, #673AB7 74%, #B73AAC 84%, #F39DD8 94%);
}

.future {
      color: white;
      background-color: black;
    }
